<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>backup-app</title>
    <style>
    /* FIX buttons outline on focus */
    button:focus {
      outline: none !important;
    }

    /* Sticky footer */
    html {
      position: relative;
      min-height: 100%;
    }

    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 120px;
      background-color: #f5f5f5;
    }

    /* Vertical dividers */
    .navbar .divider-vertical {
      height: 57px;
      margin: 0 9px;
      border-right: 1px solid #d3d3d3;
      border-left: 1px solid #f2f2f2;
    }

    .navbar-inverse .divider-vertical {
      border-right-color: #222222;
      border-left-color: #111111;
    }

    @media (max-width: 767px) {
      .navbar-collapse .nav > .divider-vertical {
          display: none;
      }
    }
    </style>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
      <script>
        $ = jQuery = require('jquery')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
